html {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
    background-color: black;
}

.navbar-toggler {
    background-color: #c79655;
}

main {
    background-color: #fcd1a7; 
    padding-top: 25px;
    padding-bottom: 25px;
}

h1,h2 {
    text-align: center;
    color: #7A4D2C;
    font-weight: bold;
}

form {
    margin: 15px;
    color: #7A4D2C;
    font-weight: bold;
    text-align: left; 
}

input {
    margin: 10px;
    border-radius: 25px;
    padding: 5px;
    border: none;
}

input[type="submit"] {
    background-color: #c79655;
    color: #7A4D2C;
    padding: 5px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

/* Style das tabelas */
table {
    margin: 15px;
    padding: 10px;
    background-color: white;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center; 
    width: 100px;   
}

.data, .horario, .status, .servico {
    width: 250px;
}


.formulario-consulta, #tabela-agenda-disponivel {
    display: flex;
    justify-content: flex-start; 
}

button {
    font-weight: bold;
    color: #7A4D2C;
    background-color: #c79655;
    text-align: center; 
    justify-content: center; 
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
    border: none;
}

a {
    text-decoration: none;
    color: #7A4D2C;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}


/* Modal sair */
.modal-dialog {
    border: none;
}

.modal-header {
    display: flex;
    text-align: start; 
    align-items: start;
    justify-content: end;
}

.modal-body a {
    display: block;
    text-align: start; 
    align-items: start;
    justify-content: start;
}

.modal-footer {
    display: block;
    text-align: start;
    align-items: start;
    justify-content: start;
}

a img {
    margin: 5px;
    padding: 2px;
}

.modal-posicao {
    position: fixed;
    top: 140px;
    right: 50px;
    width: 100%;
    border: none;
    max-width: 200px;
    max-height: 150px;
}

.modal-footer-pre{
    display: flex;
    justify-content: flex-end;

}

/*Style pra dispositivos pequenos*/

@media screen and (max-width:1000px){

    body {
        margin: 0px;
        padding: 0px;
        border: 0px;
        box-sizing: border-box;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;    
    }
    
    .modal-dialog{
        font-size: 1.2rem;
    }
    
    table {
        margin: 0px;
        padding: 0px;
        font-size: 1.0rem;
        background-color: white;
    }
    
    table, th, td {
        border: 1px solid black;
    }
    
    th, td {
        padding: 3px;
        text-align: center;    
    }
    
}